<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Microservice Websites</title>
    <link rel="stylesheet" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://microservice-websites.netlify.com//">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Microservice Websites">
    <meta property="og:description" content="Building websites with autonomous teams">
  </head>
  <body>
    <div class="header-container">
      <div class="wrapper">
        <div class="content">
        <h1 class="overlay">Micro&shy;service Websites</h1>

        <em class="sub-heading overlay">Scalable development of an evolvable system with great mobile performance</em>
        </div>
      </div>
    </div>
    <div class="content">
    {{ content }}
    </div>
    <div class="footer-container">
      <div class="wrapper">
        <div class="content">
          <div class="overlay">By Gustaf Nilsson Kotte (<a href="https://twitter.com/gustaf_nk/">@gustaf_nk</a>)</div>
          <br />
          <div class="overlay">
            <div>Created: 2017-07-25</div>
            <div>Updated: 2017-09-29</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103160927-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Background pattern from http://lea.verou.me/css3patterns/#honeycomb -->
  </body>
</html>
